* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Basic styling for the grid cells */
body {
    background-image: radial-gradient(#7d5db8 ,darkslateblue 30%,  rgb(20, 18, 32));
    font-family: Arial, Helvetica, sans-serif;
    color: lavender;
    display: grid;
    place-items: center;
    padding: auto;
    margin: auto;
    max-width: 1300px;
    min-width: 900px;
    position: relative;

}
.grid {
    display: grid;
    grid-template-columns: repeat(50, 1fr); /* Adjust as needed */
    width: min-content;
    height: min-content;
    padding-left: 1%;
    padding-right: 2%;
}

label {
    font-style:italic;
    font-size: x-large;
}
.cell {
    background-color: rgb(20, 18, 32); /* Default: dead cells */
    column-gap: 0px;
    width: 16px;
    height: 16px;
}
.alive {
    background-color:rgb(166, 151, 255); /* Alive cells */

}
.buttonContainer {
    padding: 5%;
    margin: 5%;
}
.button {
    height: 100px;
    color: lavender;
    place-items: center;
    background-image: radial-gradient(rgb(41, 36, 78),#221d2c);
    font-size: larger;
    width: 100%;
    
}
.slider {
    appearance: none;
    direction: rtl;
    width: 30%;
    height: auto;
    background-image: radial-gradient(rgb(145, 141, 170),  rgb(57, 54, 70));
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    accent-color: silver;
    margin-left: 10%;
}

/*mouse-over effects */
.slide:hover {
    opacity: 1;
}

