/* Basic styling for the grid cells */
.grid {
    display: grid;
    width: min-content;
    grid-template-columns: repeat(20, 1fr); /* Adjust as needed */
}
.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    background-color: darkslateblue; /* Default: dead cells */
}
.alive {
    background-color: seagreen; /* Alive cells */
}
.slidecontainer {
    width: 100%;
}
body {
    background-color: #333;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*slider*/
.button {
    height: 50px;
    color: darkslateblue;

}
.slider {
    appearance: none;
    width: 300px;
    height: 25px;
    background: seagreen;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/*mouse-over effects */
.slide:hover {
    opacity: 1;
}
